$very-dark-gray: hsl(0, 0%, 17%);
$dark-gray: hsl(0, 0%, 59%);

.search-container{
    width: 100%;
    padding: 1rem 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(../assets/pattern-bg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 11rem;

    h1{
        color: rgb(255,255,255);
    }

    input[type='text']{
        padding: 0.5rem;
        width: 400px;
        border-radius: 8px 0 0 8px;
        border: 0;
    }

    button{
        padding: 0.5rem;
        background-color: black;
        color: rgb(255,255,255);
        border-radius: 0 8px 8px 0;
        border: 0;
        cursor: pointer;
    }
}

.data-container{
    background-color: white;
    position: relative;
    width: 800px;
    height: 100px;
    padding: 1rem;
    bottom: -20%;
    border-radius: 0.5rem;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.2);
    display: grid;
    grid-template-columns: auto auto auto auto;
    column-gap: 1rem;
    z-index: 999;

    .item{
        display: flex;
        flex-direction: column;

        .item-heading{
            text-transform: uppercase;
            color: $dark-gray;
            font-weight: 500;
            font-size: 0.7rem;
        }

        .data-displayer{
            font-weight: 700;
            height: 100%;  
            padding-top: 0.3rem;         
        }
    }

    .item:not(:last-child){
        border-right: 1px solid #ccc;
    }
}

.map-container{
    width: 100vw;
    overflow: hidden;

    .leaflet-container{
        height: calc(100vh - 11rem);
        width: 100%;
    }

    .leaflet-top, .leaflet-left{
        z-index: 999 !important;
    }
}

.alert-container{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100vw;
    height: 100%;
    z-index: 1000;
    background-color: rgba(0,0,0,0.6);

    .alert-box{
        position: absolute;
        bottom: 50%;
        left: 50%;
        transform: translate(-50%, 50%);
        z-index: 1001;
        background-color: white;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 2rem;
        box-shadow: 5px 5px 10px rgba(0,0,0,0.2);

        .alert-icon{
            background-image: url(../assets/system.png);
            background-position: center;
            background-repeat: no-repeat;
            background-size: contain;
            width: calc((200px / 18px) * 1rem);
            height: calc((200px / 18px) * 1rem);
        }

        p{
            text-align: center;
        }

        button{
            background-color: rgb(0, 140, 255);
            color: white;
            font-size: 1.1em;
            letter-spacing: 1px;
            padding: 0.4rem 3rem;
            border: none;
            border-radius: 0.9rem;
            cursor: pointer;
        }
    }
}

footer{
    background-color: hsl(0, 0%, 0%);
    width: 100vw;
    padding: 1rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    font-size: 0.8rem;

    svg:hover{
        cursor: pointer;
        opacity: 0.5;
    }

    .svg-wrapper{
        width: 50px;
        height: 50px;
        padding-bottom: 0.3rem;
    }

    .svg-wrapper a{
        display: block;
    }

}

@media only screen and (max-width: 900px) {
    .data-container{
        width: auto;
    }
}

@media only screen and (max-width: 710px) {
    .search-container{
        height: 13rem;
    }
    
    .data-container{
        width: 70%;
        grid-template-columns: auto;
        height: auto;
        bottom: -20%;
        padding: 1rem;
    }

    .data-container .item:not(:last-child){
        border-right: none;
        margin-bottom: 0.5rem;
    }

    .alert-box{
        width: 90%;
    }
}

@media only screen and (max-width: 508px) {
    .search-container input[type='text']{
        width: 70vw;
    }
}